absl-py==0.11.0
asgiref==3.3.1
astunparse==1.6.3
boto3==1.17.5
botocore==1.20.5
cachetools==4.2.0
certifi==2020.12.5
chardet==4.0.0
Django==3.1.4
django-cors-headers==3.6.0
django-storages==1.11.1
djangorestframework==3.12.2
flatbuffers==1.12
gast==0.3.3
google-api-core==1.26.1
google-auth==1.28.0
google-cloud-vision==2.2.0
googleapis-common-protos==1.53.0
grpcio==1.32.0
gunicorn==20.0.4
h5py==2.10.0
idna==2.10
importlib-metadata==3.3.0
imutils==0.5.3
jmespath==0.10.0
Keras-Preprocessing==1.1.2
libcst==0.3.17
Markdown==3.3.3
mypy-extensions==0.4.3
numpy==1.19.4
oauthlib==3.1.0
opencv-python-headless==4.5.1.48
opt-einsum==3.3.0
packaging==20.9
pdf2image==1.14.0
Pillow==8.0.1
proto-plus==1.18.1
protobuf==3.14.0
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==2.4.7
pytesseract==0.3.6
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.6
s3transfer==0.3.4
six==1.15.0
sqlparse==0.4.1
termcolor==1.1.0
typing-extensions==3.7.4.3
typing-inspect==0.6.0
urllib3==1.26.2
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
